@{
    ViewBag.Title = "EIMT";
}

<div class="jumbotron">
    <img src="/Content/EIMT.png" width="600"/>
    <h1>Welcome young visitor!</h1>
    <p class="lead">The Electronic Invoice Management System&reg; is the industry leading way to pay your checks while feeling like baby squirrels are healing your soul.</p>
    <p>If you already have an account, please log in so you can send us all your money.<br/>
        If you are not a registered users, register at once! We have unlimited squirrels at our disposal!</p>

    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Register&raquo;</a> <a href="/Account/Login" class="btn btn-primary btn-lg">Log in&raquo;</a></p>
</div>